{% extends 'base.html' %}

{% block title %}
Article::Detail
{% endblock title %}

{% block container %}
<h2>{{ article.title }}</h2>
<p>{{ article.create_at }}</p>
<p>user: {{ article.user }}</p>
<a href="{% url 'articles:like' article.pk %}">
  {% if user in article.liked_users.all %}
    <i class="fas fa-heart fa-lg" style="color: red"></i>
  {% else %}
    <i class="far fa-heart fa-lg" style="color: red"></i>
  {% endif %}
</a>
<span>{{ article.liked_users.all | length }} people like this article.</span>
<hr>
<p>{{ article.content }}</p>
<hr>
{% comment %} {% if request.user.is_authenticated %} {% endcomment %}
{% if article.user == request.user %}
  <form action="{% url 'articles:update' article.pk %}">
    {% csrf_token %}
    <button type="submit">update</button>
  </form>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit">delete</button>
  </form>
{% endif %}
<h4>Comments</h4>
{% if request.user == comment.user %}
  <form action="{% url 'articles:commentcreate' article.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <input type="text" name="content"> {% endcomment %}
    <button type="submit">create</button>
  </form>
{% endif %}
<ul>
  {% for comment in comments %}
    <li>
      <span>{{ comment.content }} - {{ comment.created_at }} / {{ comment.user }}</span>
      {% if request.user == comment.user %}
        <form action="{% url 'articles:commentdelete' article.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      {% endif %}
    </li>
    {% empty %}
      <p>no comment</p>
  {% endfor %}
</ul>
<hr>

{% include 'articles/_follow.html' %}

{% endblock container %}  