{% extends 'base.html' %}

{% block title %}
Article::Detail
{% endblock title %}

{% block container %}
<h2>{{ article.title }}</h2>
<p>{{ article.create_at }}</p>
<p>user: {{ article.user }}</p>
<p>
<i
  class="{% if user in article.liked_users.all %}fas{% else %}far{% endif %} fa-heart fa-lg"
  id="like-btn"
  data-id="{{ article.pk }}"
  style="color: red">
</i>
<span id="like-count">{{ article.liked_users.all | length }}</span> people like this article.
</p>
<hr>
<p>{{ article.content }}</p>
<hr>
{% comment %} {% if request.user.is_authenticated %} {% endcomment %}
{% if article.user == request.user %}
  <form action="{% url 'articles:update' article.pk %}">
    {% csrf_token %}
    <button type="submit">update</button>
  </form>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit">delete</button>
  </form>
{% endif %}
<h4>Comments</h4>
{% if request.user == comment.user %}
  <form action="{% url 'articles:commentcreate' article.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <input type="text" name="content"> {% endcomment %}
    <button type="submit">create</button>
  </form>
{% endif %}
<ul>
  {% for comment in comments %}
    <li>
      <span>{{ comment.content }} - {{ comment.created_at }} / {{ comment.user }}</span>
      {% if request.user == comment.user %}
        <form action="{% url 'articles:commentdelete' article.pk comment.pk %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      {% endif %}
    </li>
    {% empty %}
      <p>no comment</p>
  {% endfor %}
</ul>
<hr>

{% include 'articles/_follow.html' %}

<script>
  const likeBtn  = document.querySelector('#like-btn')
  likeBtn.addEventListener('click', function(event){
    // Button 의 data-id 속성을 아래 코드로 가지고 온다.
    const articleId = event.target.dataset.id
    axios.get(`/articles/${articleId}/like/`)
      .then(function(response){
        if (response.data.liked){
          likeBtn.classList.remove('far')
          likeBtn.classList.add('fas')
        } else {
          likeBtn.classList.remove('fas')
          likeBtn.classList.add('far')
        }

        const likeCount = document.querySelector('#like-count')
        likeCount.innerText = response.data.count
      })
  })
</script>
{% endblock container %}  